<div class="container">
        <div class="card mx-auto mt-5" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-5">
                <img src="../../assets/ruta1m.png" class="mt-1 img-fluid rounded-start rounded-circle" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h1 class="card-title">Ruta 1</h1>
                  <h5 class="card-title">Vuelta a la Sabana</h5>
                  <p class="card-text">Largo: 90 Km</p>
                  <p class="card-text">Salida por la 134 con autopista, pasa por Sopo, Briceño, La Calera y llega por detras de patios</p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mx-auto mt-5" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-5">
                <img src="../../assets/ruta2m.png" class="mt-1 img-fluid rounded-start rounded-circle" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h1 class="card-title">Ruta 2</h1>
                  <h5 class="card-title">Bogotá - Tunja</h5>
                  <p class="card-text">Largo: 132 Km</p>
                  <p class="card-text">Salida por la 134 con autopista hasta Cajica, luego Zipaquirá, Sisga, Chocontá, Villapinzón y Tunja</p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mx-auto mt-5" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-5">
                <img src="../../assets/ruta3m.png" class="mt-1 img-fluid rounded-start rounded-circle" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h1 class="card-title">Ruta 3</h1>
                  <h5 class="card-title">La calera</h5>
                  <p class="card-text">Largo: 60 Km</p>
                  <p class="card-text">Salida en Belisario (puente de subida a patios), Patios, La Calera y regreso a Belisario</p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mx-auto mt-5" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-5">
                <img src="../../assets/ruta4m.png" class="mt-5 img-fluid rounded-start rounded-circle" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h1 class="card-title">Ruta 4</h1>
                  <h5 class="card-title">Gran vuelta a la Sabana</h5>
                  <p class="card-text">Largo: 110 Km</p>
                  <p class="card-text">Salida por la 134 con autopista hasta Cajica, Sopo, Briceño, El Sisfa, Sesquilé y Guatavita. Luego subida por el alto de La Cuchilla. Se regresa por Briceño, La Calera y entra de nuevo a la ciudad por Patios</p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mx-auto mt-5" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-5">
                <img src="../../assets/ruta5m.png" class="mt-4 img-fluid rounded-start rounded-circle" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h1 class="card-title">Ruta 5</h1>
                  <h5 class="card-title">Bogotá - La Vega</h5>
                  <p class="card-text">Largo: 57 Km</p>
                  <p class="card-text">Salida de la calle 80 hacia Siberia, Alejandría, Tenjo, Puente Piedra, El Rosal, Alto del Vino, San Francisco y La Vega</p>
                </div>
              </div>
            </div>
        </div>

</div>
