<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <h1>AlBici</h1>
  </a>
</nav>
<div class="container-fluid">
  <div class="row">


    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">BIENVENIDOS</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row">
          <div class="col-md-12">
            <div class="media,redirectToLogin">
              <p> AlBici es un servicio para alquilar  biciletas, que esperas para unirtenos!</p>
            </div>
            <div >
              <span>Tienes cuenta? <span class="redirect" routerLink="/sign-in">Ingresar</span></span>
            </div>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>


