<div class="container">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Competencia</th>
          <th scope="col">Participantes</th>
          <th scope="col">Descripción</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Criterium Bogotá</td>
          <td>70</td>
          <td>Se corre un número determinado de giros en un circuito cerrado sin vehículos ni tráfico.</td>
          <td>
              <button onclick="location.href='https://criteriumbogota.com/'"  class="btn btn-success" type="submit">Suscribete</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>BBB Chía - Villa de Leyva</td>
          <td>100</td>
          <td>La ruta pasara por los municipios de Chía, Nemocón, Cucunubá, Lenguazaque, Guachetá, Ráquira, Tinjacá, Sutamarchán y finalmente Villa de Leyva.</td>
          <td>
              <button onclick="location.href='https://www.waypoint.com.co/bbb-chia-villa-de-leyva-2021/'"  class="btn btn-success" type="submit">Suscribete</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td> Reto BIKERZ Chingaza</td>
          <td>250</td>
          <td>recorrido de 64 km que inicia en el municipio de Fomeque, en el km 32 de la travesía los deportistas llegaran a la imponente laguna de Chingaza a más de 3000 msnm continuando su recorrido hasta llegar al municipio de Fomeque.</td>
          <td>
              <button onclick="location.href='https://www.greensummit.com.co/reto-bikerz-chingaza/'"  class="btn btn-success" type="submit">Suscribete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
