<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Gracias por Registrarse</h3>

      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">Se envio confirmacion a<strong>{{user.email}}</strong>.</p>
        <p class="text-center">Verifica tu correo electronico para verificar el mismo.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Reenviar correo de verificacion
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>Volver atras?<span class="redirect" routerLink="/sign-in"> Ingresar</span></span>
    </div>

  </div>
</div>
